.relative {
  position: relative;
  width: 100%;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
}

.range {
  &-wrapper {
    display: flex;
    justify-content: center;
  }
  &-input {
    width: 30%;
    margin: 0 1rem;
  }
}

.articles {
  padding: 2rem;
  padding-top: 6rem;
}

.article {
  margin: 1rem 0;
}
