.sticky {
  position: fixed;

}

.range {
  &-wrapper {
    display: flex;
    justify-content: center;
  }
  &-input {
    width: 30%;
    margin: 0 1rem;
  }
}

.articles {
  padding: 2rem;
}

.article {
  margin: 1rem 0;
}
